/araxis
/bc
/codecompare
/deltawalker
/diffmerge
/diffuse
/ecmerge
/emerge
/examdiff
/guiffy
/gvimdiff
/kdiff3
/kompare
/meld
/nvimdiff
/opendiff
/p4merge
/smerge
/tkdiff
/tortoisemerge
/vimdiff
/winmerge
/xxdiff
