/updater.bat
/Launcher.bat
/inslimvml.ini
/BepInEx/plugins/MyFaveHoe/MyFavoriteHoe.dll
/BepInEx/plugins/MyFaveHoe/ReadMe.txt
/BuildShare/Builds/craftemp1-2.vbuild
/BuildShare/readme.txt
/InSlimVML/Mods/0Harmony.dll
/InSlimVML/Mods/CR-BuildShare_VML.dll
/InSlimVML/Mods/SlimAssist.dll
/InSlimVML/readme.txt
