/Alnum.pl
/Assigned.pl
/Blank.pl
/Graph.pl
/PerlWord.pl
/PosixPun.pl
/Print.pl
/SpacePer.pl
/Title.pl
/Word.pl
/XPosixPu.pl
/_PerlAny.pl
/_PerlCh2.pl
/_PerlCha.pl
/_PerlFol.pl
/_PerlIDC.pl
/_PerlIDS.pl
/_PerlIsI.pl
/_PerlNch.pl
/_PerlPat.pl
/_PerlPr2.pl
/_PerlPro.pl
/_PerlQuo.pl
