/8th.vim
/README.txt
/a2ps.vim
/aap.vim
/abap.vim
/abaqus.vim
/ada.vim
/alsaconf.vim
/ant.vim
/arch.vim
/art.vim
/asm.vim
/aspvbs.vim
/automake.vim
/awk.vim
/bash.vim
/bdf.vim
/bst.vim
/btm.vim
/bzl.vim
/c.vim
/calendar.vim
/cdrdaoconf.vim
/cfg.vim
/ch.vim
/changelog.vim
/chicken.vim
/clojure.vim
/cmake.vim
/cobol.vim
/conf.vim
/config.vim
/context.vim
/cpp.vim
/crm.vim
/cs.vim
/csc.vim
/csh.vim
/css.vim
/cucumber.vim
/cvsrc.vim
/debchangelog.vim
/debcontrol.vim
/denyhosts.vim
/dictconf.vim
/dictdconf.vim
/diff.vim
/dircolors.vim
/docbk.vim
/dockerfile.vim
/dosbatch.vim
/dosini.vim
/dtd.vim
/dtrace.vim
/dune.vim
/eiffel.vim
/elinks.vim
/elm.vim
/erlang.vim
/eruby.vim
/eterm.vim
/falcon.vim
/fetchmail.vim
/flexwiki.vim
/fortran.vim
/framescript.vim
/fvwm.vim
/gdb.vim
/git.vim
/gitcommit.vim
/gitconfig.vim
/gitrebase.vim
/gitsendemail.vim
/go.vim
/gpg.vim
/gprof.vim
/groovy.vim
/group.vim
/grub.vim
/haml.vim
/hamster.vim
/haskell.vim
/help.vim
/hgcommit.vim
/hog.vim
/hostconf.vim
/hostsaccess.vim
/html.vim
/htmldjango.vim
/indent.vim
/initex.vim
/ishd.vim
/j.vim
/java.vim
/javascript.vim
/javascriptreact.vim
/jproperties.vim
/json.vim
/jsp.vim
/kconfig.vim
/kwt.vim
/ld.vim
/less.vim
/lftp.vim
/libao.vim
/limits.vim
/liquid.vim
/lisp.vim
/logcheck.vim
/loginaccess.vim
/logindefs.vim
/logtalk.dict
/logtalk.vim
/lprolog.vim
/lua.vim
/m4.vim
/mail.vim
/mailaliases.vim
/mailcap.vim
/make.vim
/man.vim
/manconf.vim
/markdown.vim
/masm.vim
/matlab.vim
/meson.vim
/mf.vim
/mma.vim
/modconf.vim
/mp.vim
/mplayerconf.vim
/mrxvtrc.vim
/msmessages.vim
/muttrc.vim
/nanorc.vim
/neomuttrc.vim
/netrc.vim
/nroff.vim
/nsis.vim
/objc.vim
/ocaml.vim
/occam.vim
/pamconf.vim
/pascal.vim
/passwd.vim
/pdf.vim
/perl.vim
/perl6.vim
/php.vim
/pinfo.vim
/plaintex.vim
/postscr.vim
/procmail.vim
/prolog.vim
/protocols.vim
/pyrex.vim
/python.vim
/qf.vim
/quake.vim
/r.vim
/racc.vim
/readline.vim
/registry.vim
/reva.vim
/rhelp.vim
/rmd.vim
/rnc.vim
/rnoweb.vim
/rpl.vim
/rrst.vim
/rst.vim
/ruby.vim
/rust.vim
/sass.vim
/sbt.vim
/scala.vim
/scheme.vim
/screen.vim
/scss.vim
/sensors.vim
/services.vim
/setserial.vim
/sgml.vim
/sh.vim
/sieve.vim
/slpconf.vim
/slpreg.vim
/slpspi.vim
/spec.vim
/sql.vim
/sshconfig.vim
/sudoers.vim
/svg.vim
/swift.vim
/swiftgyb.vim
/sysctl.vim
/systemd.vim
/systemverilog.vim
/tcl.vim
/tcsh.vim
/terminfo.vim
/tex.vim
/text.vim
/tmux.vim
/treetop.vim
/tt2html.vim
/typescript.vim
/typescriptreact.vim
/udevconf.vim
/udevperm.vim
/udevrules.vim
/updatedb.vim
/vb.vim
/verilog.vim
/vhdl.vim
/vim.vim
/vroom.vim
/wast.vim
/xdefaults.vim
/xf86conf.vim
/xhtml.vim
/xinetd.vim
/xml.vim
/xmodmap.vim
/xs.vim
/xsd.vim
/xslt.vim
/yaml.vim
/zimbu.vim
/zsh.vim
