/screen
/screen+fkeys
/screen+italics
/screen-16color
/screen-16color-bce
/screen-16color-bce-s
/screen-16color-s
/screen-256color
/screen-256color-bce
/screen-256color-bce-s
/screen-256color-s
/screen-bce
/screen-bce.Eterm
/screen-bce.gnome
/screen-bce.konsole
/screen-bce.linux
/screen-bce.mrxvt
/screen-bce.rxvt
/screen-bce.xterm-new
/screen-s
/screen-w
/screen.Eterm
/screen.gnome
/screen.konsole
/screen.konsole-256color
/screen.linux
/screen.linux-m1
/screen.linux-m1b
/screen.linux-m2
/screen.minitel1
/screen.minitel1-nb
/screen.minitel12-80
/screen.minitel1b
/screen.minitel1b-80
/screen.minitel1b-nb
/screen.minitel2-80
/screen.mlterm
/screen.mlterm-256color
/screen.mrxvt
/screen.putty
/screen.putty-256color
/screen.putty-m1
/screen.putty-m1b
/screen.putty-m2
/screen.rxvt
/screen.teraterm
/screen.vte
/screen.vte-256color
/screen.xterm-256color
/screen.xterm-new
/screen.xterm-r6
/screen.xterm-xfree86
/screen2
/screen3
/screen4
/screen5
