/B.pm
/Config.pm
/Config_git.pl
/Config_heavy.pl
/Cwd.pm
/DynaLoader.pm
/Encode.pm
/Errno.pm
/Fcntl.pm
/IO.pm
/NDBM_File.pm
/O.pm
/Opcode.pm
/POSIX.pm
/SDBM_File.pm
/Socket.pm
/Storable.pm
/Win32.pm
/Win32CORE.pm
/attributes.pm
/encoding.pm
/lib.pm
/mro.pm
/ops.pm
/re.pm
/threads.pm
