/Avagraha.pl
/Bindu.pl
/Cantilla.pl
/Consona2.pl
/Consona3.pl
/Consona4.pl
/Consona5.pl
/Consona6.pl
/Consona7.pl
/Consona8.pl
/Consona9.pl
/Consonan.pl
/Invisibl.pl
/Nukta.pl
/Number.pl
/Other.pl
/PureKill.pl
/Syllable.pl
/ToneMark.pl
/Virama.pl
/Visarga.pl
/Vowel.pl
/VowelDep.pl
/VowelInd.pl
