/AnyDBM_File.pm
/AutoLoader.pm
/AutoSplit.pm
/Benchmark.pm
/CPAN.pm
/Carp.pm
/DB.pm
/DBM_Filter.pm
/Digest.pm
/DirHandle.pm
/Dumpvalue.pm
/English.pm
/Env.pm
/Exporter.pm
/Fatal.pm
/FileCache.pm
/FileHandle.pm
/FindBin.pm
/Memoize.pm
/NEXT.pm
/PerlIO.pm
/Safe.pm
/SelectSaver.pm
/SelfLoader.pm
/Symbol.pm
/Test.pm
/Test2.pm
/Thread.pm
/UNIVERSAL.pm
/XSLoader.pm
/_charnames.pm
/autodie.pm
/autouse.pm
/base.pm
/bigint.pm
/bignum.pm
/bigrat.pm
/blib.pm
/bytes.pm
/bytes_heavy.pl
/charnames.pm
/constant.pm
/deprecate.pm
/diagnostics.pm
/dumpvar.pl
/experimental.pm
/feature.pm
/fields.pm
/filetest.pm
/if.pm
/integer.pm
/less.pm
/locale.pm
/meta_notation.pm
/ok.pm
/open.pm
/overload.pm
/overloading.pm
/parent.pm
/perl5db.pl
/perlfaq.pm
/sigtrap.pm
/sort.pm
/strict.pm
/subs.pm
/utf8.pm
/vars.pm
/version.pm
/vmsish.pm
/warnings.pm
