/Escape.pm
/Heuristic.pm
/IRI.pm
/QueryParam.pm
/Split.pm
/URL.pm
/WithBase.pm
/_foreign.pm
/_generic.pm
/_idna.pm
/_ldap.pm
/_login.pm
/_punycode.pm
/_query.pm
/_segment.pm
/_server.pm
/_userpass.pm
/data.pm
/file.pm
/ftp.pm
/gopher.pm
/http.pm
/https.pm
/ldap.pm
/ldapi.pm
/ldaps.pm
/mailto.pm
/mms.pm
/news.pm
/nntp.pm
/nntps.pm
/pop.pm
/rlogin.pm
/rsync.pm
/rtsp.pm
/rtspu.pm
/sftp.pm
/sip.pm
/sips.pm
/snews.pm
/ssh.pm
/telnet.pm
/tn3270.pm
/urn.pm
