## Settings file was created by plugin Beehive Utilities v1.1.0
## Plugin GUID: smallo.mods.beehiveutilities

[1 - Global]

## Enable or disable this mod
# Setting type: Boolean
# Default value: true
Enable Mod = true

[2 - General]

## Disables the "Bees need more space" check
# Setting type: Boolean
# Default value: false
Disable Proximity Check = false

## Show the amount of honey generated next to the Beehive name "Honey ( 0/4 )" instead of "( EMPTY )" or "( Honey x honeyAmount )"
# Setting type: Boolean
# Default value: true
Show Alternate Text = true

## The maximum amount of honey a beehive can generate (default is 4)
# Setting type: Int32
# Default value: 4
Max Honey = 6

## The amount of minutes it takes to generate 1 piece of honey (default is 20)
# Setting type: Double
# Default value: 20
Minutes Per Creation = 4

## Allows beehives to work in any biome
# Setting type: Boolean
# Default value: false
Remove Biome Check = false

## Allows beehives to work at night and during rain
# Setting type: Boolean
# Default value: false
Remove Night/Rain Check = false

## Shows the bee status on hover instead of having to press E, this also shows when there is honey in the hive
# Setting type: Boolean
# Default value: true
Display Bee Status On Hover = true

## Spawns the honey in front of the hive instead of on top of it. Here is a picture to show which way is the front of the hive, it's the side where the thatch overlaps from the sides on top. https://i.imgur.com/zK5FT47.png
# Setting type: Boolean
# Default value: false
Spawn Honey In Front = false

