/DIR_COLORS
/bash.bash_logout
/bash.bashrc
/docx2txt.config
/fstab
/gitattributes
/gitconfig
/hosts
/inputrc
/msystem
/mtab
/nanorc
/networks
/nsswitch.conf
/package-versions.txt
/profile
/protocols
/services
/tigrc
/vimrc
