/README.txt
/ccfilter.1
/ccfilter_README.txt
/demoserver.py
/efm_filter.pl
/efm_filter.txt
/efm_perl.pl
/emoji_list.vim
/mve.awk
/mve.txt
/pltags.pl
/ref
/shtags.1
/shtags.pl
/unicode.vim
/vim132
/vim_vs_net.cmd
/vimm
/vimspell.sh
/vimspell.txt
