/assert.awk
/bits2str.awk
/cliff_rand.awk
/ctime.awk
/ftrans.awk
/getopt.awk
/gettime.awk
/group.awk
/have_mpfr.awk
/inplace.awk
/intdiv0.awk
/join.awk
/libintl.awk
/noassign.awk
/ns_passwd.awk
/ord.awk
/passwd.awk
/processarray.awk
/quicksort.awk
/readable.awk
/readfile.awk
/rewind.awk
/round.awk
/shellquote.awk
/strtonum.awk
/walkarray.awk
/zerofile.awk
