/bugreport.vim
/defaults.vim
/delmenu.vim
/evim.vim
/filetype.vim
/ftoff.vim
/ftplugin.vim
/ftplugof.vim
/gvimrc_example.vim
/indent.vim
/indoff.vim
/menu.vim
/mswin.vim
/optwin.vim
/rgb.txt
/scripts.vim
/synmenu.vim
/vimrc_example.vim
