/Atlassian.Bitbucket.UI.exe
/Atlassian.Bitbucket.UI.exe.config
/Atlassian.Bitbucket.dll
/AzureDevOps.Authentication.dll
/Bitbucket.Authentication.dll
/GitHub.Authentication.exe
/GitHub.UI.exe
/GitHub.UI.exe.config
/GitHub.dll
/Microsoft.Alm.Authentication.dll
/Microsoft.AzureRepos.dll
/Microsoft.Git.CredentialManager.UI.dll
/Microsoft.Git.CredentialManager.dll
/Microsoft.Identity.Client.Extensions.Msal.dll
/Microsoft.Identity.Client.dll
/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/Newtonsoft.Json.dll
/System.Buffers.dll
/System.CommandLine.dll
/System.Memory.dll
/System.Numerics.Vectors.dll
/System.Runtime.CompilerServices.Unsafe.dll
/dlls-copied.exe
/edit.dll
/git-add--interactive
/git-add.exe
/git-am.exe
/git-annotate.exe
/git-apply.exe
/git-archive.exe
/git-askpass.exe
/git-bisect
/git-bisect--helper.exe
/git-blame.exe
/git-branch.exe
/git-bugreport.exe
/git-bundle.exe
/git-cat-file.exe
/git-check-attr.exe
/git-check-ignore.exe
/git-check-mailmap.exe
/git-check-ref-format.exe
/git-checkout-index.exe
/git-checkout.exe
/git-cherry-pick.exe
/git-cherry.exe
/git-citool
/git-clean.exe
/git-clone.exe
/git-column.exe
/git-commit-graph.exe
/git-commit-tree.exe
/git-commit.exe
/git-config.exe
/git-count-objects.exe
/git-credential-cache--daemon.exe
/git-credential-cache.exe
/git-credential-manager-core.exe
/git-credential-manager-core.exe.config
/git-credential-manager.exe
/git-credential-store.exe
/git-credential-wincred.exe
/git-credential.exe
/git-daemon.exe
/git-describe.exe
/git-diff-files.exe
/git-diff-index.exe
/git-diff-tree.exe
/git-diff.exe
/git-difftool--helper
/git-difftool.exe
/git-env--helper.exe
/git-fast-export.exe
/git-fast-import.exe
/git-fetch-pack.exe
/git-fetch.exe
/git-filter-branch
/git-fmt-merge-msg.exe
/git-for-each-ref.exe
/git-for-each-repo.exe
/git-format-patch.exe
/git-fsck-objects.exe
/git-fsck.exe
/git-fsmonitor--daemon.exe
/git-gc.exe
/git-get-tar-commit-id.exe
/git-grep.exe
/git-gui
/git-gui--askpass
/git-gui--askyesno
/git-gui.tcl
/git-hash-object.exe
/git-help.exe
/git-http-backend.exe
/git-http-fetch.exe
/git-http-push.exe
/git-imap-send.exe
/git-index-pack.exe
/git-init-db.exe
/git-init.exe
/git-instaweb
/git-interpret-trailers.exe
/git-log.exe
/git-ls-files.exe
/git-ls-remote.exe
/git-ls-tree.exe
/git-mailinfo.exe
/git-mailsplit.exe
/git-maintenance.exe
/git-merge-base.exe
/git-merge-file.exe
/git-merge-index.exe
/git-merge-octopus
/git-merge-one-file
/git-merge-ours.exe
/git-merge-recursive.exe
/git-merge-resolve
/git-merge-subtree.exe
/git-merge-tree.exe
/git-merge.exe
/git-mergetool
/git-mergetool--lib
/git-mktag.exe
/git-mktree.exe
/git-multi-pack-index.exe
/git-mv.exe
/git-name-rev.exe
/git-notes.exe
/git-p4
/git-pack-objects.exe
/git-pack-redundant.exe
/git-pack-refs.exe
/git-patch-id.exe
/git-prune-packed.exe
/git-prune.exe
/git-pull.exe
/git-push.exe
/git-quiltimport
/git-range-diff.exe
/git-read-tree.exe
/git-rebase--preserve-merges
/git-rebase.exe
/git-receive-pack.exe
/git-reflog.exe
/git-remote-ext.exe
/git-remote-fd.exe
/git-remote-ftp.exe
/git-remote-ftps.exe
/git-remote-http.exe
/git-remote-https.exe
/git-remote.exe
/git-repack.exe
/git-replace.exe
/git-request-pull
/git-rerere.exe
/git-reset.exe
/git-restore.exe
/git-rev-list.exe
/git-rev-parse.exe
/git-revert.exe
/git-rm.exe
/git-send-email
/git-send-pack.exe
/git-sh-i18n
/git-sh-i18n--envsubst.exe
/git-sh-setup
/git-shortlog.exe
/git-show-branch.exe
/git-show-index.exe
/git-show-ref.exe
/git-show.exe
/git-sparse-checkout.exe
/git-stage.exe
/git-stash.exe
/git-status.exe
/git-stripspace.exe
/git-submodule
/git-submodule--helper.exe
/git-subtree
/git-svn
/git-switch.exe
/git-symbolic-ref.exe
/git-tag.exe
/git-unpack-file.exe
/git-unpack-objects.exe
/git-update
/git-update-git-for-windows
/git-update-index.exe
/git-update-ref.exe
/git-update-server-info.exe
/git-upload-archive.exe
/git-upload-pack.exe
/git-var.exe
/git-verify-commit.exe
/git-verify-pack.exe
/git-verify-tag.exe
/git-web--browse
/git-whatchanged.exe
/git-worktree.exe
/git-write-tree.exe
/git.exe
/headless-git.exe
/libbrotlicommon.dll
/libbrotlidec.dll
/libbz2-1.dll
/libcares-4.dll
/libcrypto-1_1-x64.dll
/libcurl-4.dll
/libexpat-1.dll
/libgcc_s_seh-1.dll
/libgmp-10.dll
/libhogweed-6.dll
/libiconv-2.dll
/libidn2-0.dll
/libintl-8.dll
/libjansson-4.dll
/libjemalloc.dll
/liblzma-5.dll
/libmetalink-3.dll
/libnettle-8.dll
/libnghttp2-14.dll
/libpcre-1.dll
/libpcre2-8-0.dll
/libpcreposix-0.dll
/libssh2-1.dll
/libssl-1_1-x64.dll
/libssp-0.dll
/libstdc++-6.dll
/libtre-5.dll
/libunistring-2.dll
/libwinpthread-1.dll
/libzstd.dll
/tcl86.dll
/tk86.dll
/zlib1.dll
