/Afar.pm
/Amharic.pm
/Austrian.pm
/Brazilian.pm
/Bulgarian.pm
/Chinese.pm
/Chinese_GB.pm
/Czech.pm
/Danish.pm
/Dutch.pm
/English.pm
/Finnish.pm
/French.pm
/Gedeo.pm
/German.pm
/Greek.pm
/Hungarian.pm
/Icelandic.pm
/Italian.pm
/Norwegian.pm
/Occitan.pm
/Oromo.pm
/Romanian.pm
/Russian.pm
/Russian_cp1251.pm
/Russian_koi8r.pm
/Sidama.pm
/Somali.pm
/Spanish.pm
/Swedish.pm
/Tigrinya.pm
/TigrinyaEritrean.pm
/TigrinyaEthiopian.pm
/Turkish.pm
