/xterm
/xterm+256color
/xterm+256setaf
/xterm+88color
/xterm+alt+title
/xterm+alt1049
/xterm+app
/xterm+direct
/xterm+direct2
/xterm+edit
/xterm+indirect
/xterm+kbs
/xterm+keypad
/xterm+noalt
/xterm+noapp
/xterm+osc104
/xterm+pc+edit
/xterm+pcc0
/xterm+pcc1
/xterm+pcc2
/xterm+pcc3
/xterm+pce2
/xterm+pcf0
/xterm+pcf2
/xterm+pcfkeys
/xterm+r6f2
/xterm+sl
/xterm+sl-twm
/xterm+sm+1002
/xterm+sm+1003
/xterm+sm+1005
/xterm+sm+1006
/xterm+titlestack
/xterm+tmux
/xterm+vt+edit
/xterm+x10mouse
/xterm+x11hilite
/xterm+x11mouse
/xterm-1002
/xterm-1003
/xterm-1005
/xterm-1006
/xterm-16color
/xterm-24
/xterm-256color
/xterm-88color
/xterm-8bit
/xterm-basic
/xterm-bold
/xterm-color
/xterm-direct
/xterm-direct2
/xterm-hp
/xterm-mono
/xterm-new
/xterm-nic
/xterm-noapp
/xterm-old
/xterm-pcolor
/xterm-r5
/xterm-r6
/xterm-sco
/xterm-sun
/xterm-utf8
/xterm-vt220
/xterm-vt52
/xterm-x10mouse
/xterm-x11hilite
/xterm-x11mouse
/xterm-xf86-v32
/xterm-xf86-v33
/xterm-xf86-v333
/xterm-xf86-v40
/xterm-xf86-v43
/xterm-xf86-v44
/xterm-xfree86
/xterm-xi
/xterm.js
/xterm1
/xtermc
/xtermm
/xterms
/xterms-sun
