/2html.vim
/8th.vim
/README.txt
/a2ps.vim
/a65.vim
/aap.vim
/abap.vim
/abaqus.vim
/abc.vim
/abel.vim
/acedb.vim
/ada.vim
/aflex.vim
/ahdl.vim
/aidl.vim
/alsaconf.vim
/amiga.vim
/aml.vim
/ampl.vim
/ant.vim
/antlr.vim
/apache.vim
/apachestyle.vim
/aptconf.vim
/arch.vim
/arduino.vim
/art.vim
/asciidoc.vim
/asm.vim
/asm68k.vim
/asmh8300.vim
/asn.vim
/aspperl.vim
/aspvbs.vim
/asterisk.vim
/asteriskvm.vim
/atlas.vim
/autodoc.vim
/autohotkey.vim
/autoit.vim
/automake.vim
/ave.vim
/avra.vim
/awk.vim
/ayacc.vim
/b.vim
/baan.vim
/bash.vim
/basic.vim
/bc.vim
/bdf.vim
/bib.vim
/bindzone.vim
/blank.vim
/bsdl.vim
/bst.vim
/btm.vim
/bzl.vim
/bzr.vim
/c.vim
/cabal.vim
/calendar.vim
/catalog.vim
/cdl.vim
/cdrdaoconf.vim
/cdrtoc.vim
/cf.vim
/cfg.vim
/ch.vim
/chaiscript.vim
/change.vim
/changelog.vim
/chaskell.vim
/cheetah.vim
/chicken.vim
/chill.vim
/chordpro.vim
/cl.vim
/clean.vim
/clipper.vim
/clojure.vim
/cmake.vim
/cmod.vim
/cmusrc.vim
/cobol.vim
/coco.vim
/colortest.vim
/conaryrecipe.vim
/conf.vim
/config.vim
/context.vim
/cpp.vim
/crm.vim
/crontab.vim
/cs.vim
/csc.vim
/csdl.vim
/csh.vim
/csp.vim
/css.vim
/cterm.vim
/ctrlh.vim
/cucumber.vim
/cuda.vim
/cupl.vim
/cuplsim.vim
/cvs.vim
/cvsrc.vim
/cweb.vim
/cynlib.vim
/cynpp.vim
/d.vim
/dart.vim
/datascript.vim
/dcd.vim
/dcl.vim
/debchangelog.vim
/debcontrol.vim
/debcopyright.vim
/debsources.vim
/def.vim
/denyhosts.vim
/desc.vim
/desktop.vim
/dictconf.vim
/dictdconf.vim
/diff.vim
/dircolors.vim
/dirpager.vim
/diva.vim
/django.vim
/dns.vim
/dnsmasq.vim
/docbk.vim
/docbksgml.vim
/docbkxml.vim
/dockerfile.vim
/dosbatch.vim
/dosini.vim
/dot.vim
/doxygen.vim
/dracula.vim
/dsl.vim
/dtd.vim
/dtml.vim
/dtrace.vim
/dts.vim
/dune.vim
/dylan.vim
/dylanintr.vim
/dylanlid.vim
/ecd.vim
/edif.vim
/eiffel.vim
/elf.vim
/elinks.vim
/elm.vim
/elmfilt.vim
/erlang.vim
/eruby.vim
/esmtprc.vim
/esqlc.vim
/esterel.vim
/eterm.vim
/euphoria3.vim
/euphoria4.vim
/eviews.vim
/exim.vim
/expect.vim
/exports.vim
/falcon.vim
/fan.vim
/fasm.vim
/fdcc.vim
/fetchmail.vim
/fgl.vim
/flexwiki.vim
/focexec.vim
/form.vim
/forth.vim
/fortran.vim
/foxpro.vim
/framescript.vim
/freebasic.vim
/fstab.vim
/fvwm.vim
/fvwm2m4.vim
/gdb.vim
/gdmo.vim
/gedcom.vim
/git.vim
/gitcommit.vim
/gitconfig.vim
/gitolite.vim
/gitrebase.vim
/gitsendemail.vim
/gkrellmrc.vim
/gnash.vim
/gnuplot.vim
/go.vim
/godoc.vim
/gp.vim
/gpg.vim
/gprof.vim
/grads.vim
/gretl.vim
/groff.vim
/groovy.vim
/group.vim
/grub.vim
/gsp.vim
/gtkrc.vim
/haml.vim
/hamster.vim
/haskell.vim
/haste.vim
/hastepreproc.vim
/hb.vim
/help.vim
/help_ru.vim
/hercules.vim
/hex.vim
/hgcommit.vim
/hitest.vim
/hog.vim
/hollywood.vim
/hostconf.vim
/hostsaccess.vim
/html.vim
/htmlcheetah.vim
/htmldjango.vim
/htmlm4.vim
/htmlos.vim
/ia64.vim
/ibasic.vim
/icemenu.vim
/icon.vim
/idl.vim
/idlang.vim
/indent.vim
/inform.vim
/initex.vim
/initng.vim
/inittab.vim
/ipfilter.vim
/ishd.vim
/iss.vim
/ist.vim
/j.vim
/jal.vim
/jam.vim
/jargon.vim
/java.vim
/javacc.vim
/javascript.vim
/javascriptreact.vim
/jess.vim
/jgraph.vim
/jovial.vim
/jproperties.vim
/json.vim
/jsp.vim
/kconfig.vim
/kivy.vim
/kix.vim
/kscript.vim
/kwt.vim
/lace.vim
/latte.vim
/ld.vim
/ldapconf.vim
/ldif.vim
/less.vim
/lex.vim
/lftp.vim
/lhaskell.vim
/libao.vim
/lifelines.vim
/lilo.vim
/limits.vim
/liquid.vim
/lisp.vim
/lite.vim
/litestep.vim
/loginaccess.vim
/logindefs.vim
/logtalk.vim
/lotos.vim
/lout.vim
/lpc.vim
/lprolog.vim
/lscript.vim
/lsl.vim
/lss.vim
/lua.vim
/lynx.vim
/m4.vim
/mail.vim
/mailaliases.vim
/mailcap.vim
/make.vim
/mallard.vim
/man.vim
/manconf.vim
/manual.vim
/maple.vim
/markdown.vim
/masm.vim
/mason.vim
/master.vim
/matlab.vim
/maxima.vim
/mel.vim
/meson.vim
/messages.vim
/mf.vim
/mgl.vim
/mgp.vim
/mib.vim
/mix.vim
/mma.vim
/mmix.vim
/mmp.vim
/modconf.vim
/model.vim
/modsim3.vim
/modula2.vim
/modula3.vim
/monk.vim
/moo.vim
/mp.vim
/mplayerconf.vim
/mrxvtrc.vim
/msidl.vim
/msmessages.vim
/msql.vim
/mupad.vim
/murphi.vim
/mush.vim
/muttrc.vim
/mysql.vim
/n1ql.vim
/named.vim
/nanorc.vim
/nasm.vim
/nastran.vim
/natural.vim
/ncf.vim
/neomuttrc.vim
/netrc.vim
/netrw.vim
/ninja.vim
/nosyntax.vim
/nqc.vim
/nroff.vim
/nsis.vim
/obj.vim
/objc.vim
/objcpp.vim
/ocaml.vim
/occam.vim
/omnimark.vim
/openroad.vim
/opl.vim
/ora.vim
/pamconf.vim
/pamenv.vim
/papp.vim
/pascal.vim
/passwd.vim
/pcap.vim
/pccts.vim
/pdf.vim
/perl.vim
/perl6.vim
/pf.vim
/pfmain.vim
/php.vim
/phtml.vim
/pic.vim
/pike.vim
/pilrc.vim
/pine.vim
/pinfo.vim
/plaintex.vim
/pli.vim
/plm.vim
/plp.vim
/plsql.vim
/po.vim
/pod.vim
/postscr.vim
/pov.vim
/povini.vim
/ppd.vim
/ppwiz.vim
/prescribe.vim
/privoxy.vim
/procmail.vim
/progress.vim
/prolog.vim
/promela.vim
/proto.vim
/protocols.vim
/psf.vim
/ptcap.vim
/purifylog.vim
/pyrex.vim
/python.vim
/qf.vim
/quake.vim
/r.vim
/racc.vim
/radiance.vim
/raml.vim
/ratpoison.vim
/rc.vim
/rcs.vim
/rcslog.vim
/readline.vim
/rebol.vim
/redif.vim
/registry.vim
/rego.vim
/remind.vim
/resolv.vim
/reva.vim
/rexx.vim
/rhelp.vim
/rib.vim
/rmd.vim
/rnc.vim
/rng.vim
/rnoweb.vim
/robots.vim
/rpcgen.vim
/rpl.vim
/rrst.vim
/rst.vim
/rtf.vim
/ruby.vim
/rust.vim
/samba.vim
/sas.vim
/sass.vim
/sather.vim
/sbt.vim
/scala.vim
/scheme.vim
/scilab.vim
/screen.vim
/scss.vim
/sd.vim
/sdc.vim
/sdl.vim
/sed.vim
/sendpr.vim
/sensors.vim
/services.vim
/setserial.vim
/sgml.vim
/sgmldecl.vim
/sgmllnx.vim
/sh.vim
/sicad.vim
/sieve.vim
/sil.vim
/simula.vim
/sinda.vim
/sindacmp.vim
/sindaout.vim
/sisu.vim
/skill.vim
/sl.vim
/slang.vim
/slice.vim
/slpconf.vim
/slpreg.vim
/slpspi.vim
/slrnrc.vim
/slrnsc.vim
/sm.vim
/smarty.vim
/smcl.vim
/smil.vim
/smith.vim
/sml.vim
/snnsnet.vim
/snnspat.vim
/snnsres.vim
/snobol4.vim
/spec.vim
/specman.vim
/spice.vim
/splint.vim
/spup.vim
/spyce.vim
/sql.vim
/sqlanywhere.vim
/sqlforms.vim
/sqlhana.vim
/sqlinformix.vim
/sqlj.vim
/sqloracle.vim
/sqr.vim
/squid.vim
/srec.vim
/sshconfig.vim
/sshdconfig.vim
/st.vim
/stata.vim
/stp.vim
/strace.vim
/sudoers.vim
/svg.vim
/svn.vim
/swift.vim
/swiftgyb.vim
/syncolor.vim
/synload.vim
/syntax.vim
/sysctl.vim
/systemd.vim
/systemverilog.vim
/tads.vim
/tags.vim
/tak.vim
/takcmp.vim
/takout.vim
/tap.vim
/tar.vim
/taskdata.vim
/taskedit.vim
/tasm.vim
/tcl.vim
/tcsh.vim
/template.vim
/teraterm.vim
/terminfo.vim
/tex.vim
/texinfo.vim
/texmf.vim
/tf.vim
/tidy.vim
/tilde.vim
/tli.vim
/tmux.vim
/tpp.vim
/trasys.vim
/treetop.vim
/trustees.vim
/tsalt.vim
/tsscl.vim
/tssgm.vim
/tssop.vim
/tt2.vim
/tt2html.vim
/tt2js.vim
/typescript.vim
/typescriptcommon.vim
/typescriptreact.vim
/uc.vim
/udevconf.vim
/udevperm.vim
/udevrules.vim
/uil.vim
/updatedb.vim
/upstart.vim
/upstreamdat.vim
/upstreaminstalllog.vim
/upstreamlog.vim
/upstreamrpt.vim
/usserverlog.vim
/usw2kagtlog.vim
/valgrind.vim
/vb.vim
/vera.vim
/verilog.vim
/verilogams.vim
/vgrindefs.vim
/vhdl.vim
/vim.vim
/viminfo.vim
/virata.vim
/vmasm.vim
/voscm.vim
/vrml.vim
/vroom.vim
/vsejcl.vim
/vue.vim
/wast.vim
/wdiff.vim
/web.vim
/webmacro.vim
/wget.vim
/whitespace.vim
/winbatch.vim
/wml.vim
/wsh.vim
/wsml.vim
/wvdial.vim
/xbl.vim
/xdefaults.vim
/xf86conf.vim
/xhtml.vim
/xinetd.vim
/xkb.vim
/xmath.vim
/xml.vim
/xmodmap.vim
/xpm.vim
/xpm2.vim
/xquery.vim
/xs.vim
/xsd.vim
/xslt.vim
/xxd.vim
/yacc.vim
/yaml.vim
/z8a.vim
/zimbu.vim
/zsh.vim
